# Frequent Itemsets
Gebaseerd op Great Outdoors Data Warehouse

In [4]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
import sqlalchemy

In [ ]:
#verbinding maken aan het database
DB = {'servername': 'ENVY-AKRAM\\SQLEXPRESS','database': 'Great Outdoors - Akram en Sylvan'}
conn_str = ('DRIVER={ODBC Driver 17 for SQL Server};SERVER=' + DB['servername'] + ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
export_conn = pyodbc.connect(conn_str, timeout=120)
export_cursor = export_conn.cursor()

engine = sqlalchemy.create_engine(f"mssql+pyodbc:///?odbc_connect={conn_str}")

print(export_cursor.execute("SELECT @@version;"))
export_cursor

In [5]:
#inlezen
order_df = pd.read_sql_query("SELECT * FROM [Order]", engine)
product_df = pd.read_sql_query("SELECT * FROM Product", engine)
order_df

NameError: name 'engine' is not defined

In [ ]:
product_df

In [ ]:
# Merge de tabellen op PRODUCT_product_number en PRODUCT_code
merged_df = pd.merge(
    order_df[['PRODUCT_product_number', 'ORDER_order_number']], 
    product_df[['PRODUCT_code', 'PRODUCT_name']], 
    left_on='PRODUCT_product_number', right_on='PRODUCT_code', 
    how='left'
)

In [ ]:
# Dummy encoden van de producten
encoded_df = pd.get_dummies(merged_df.set_index('ORDER_order_number')['PRODUCT_name']).max(level=0).astype(bool)
encoded_df

Algoritme uitvoeren

In [ ]:
frequent_itemsets = apriori(encoded_df, min_support=0.01, use_colnames=True)
frequent_itemsets