# Clustermodel

Gebaseerd op het Great Outdoors Data Warehouse

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlalchemy
import pyodbc

In [8]:
#verbinding maken aan het database
DB = {'servername': 'ENVY-AKRAM\\SQLEXPRESS','database': 'Great Outdoors - Akram en Sylvan'}
conn_str = ('DRIVER={ODBC Driver 17 for SQL Server};SERVER=' + DB['servername'] + ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
export_conn = pyodbc.connect(conn_str, timeout=120)
export_cursor = export_conn.cursor()

engine = sqlalchemy.create_engine(f"mssql+pyodbc:///?odbc_connect={conn_str}")

print(export_cursor.execute("SELECT @@version;"))
export_cursor

<pyodbc.Cursor object at 0x000001997479FCB0>

# Dataset opzetten

In [9]:
#inlezen
sales_staff = pd.read_sql_query("SELECT * FROM SALES_STAFF", engine)
sales_staff

,SALES_STAFF_SALES_STAFF_CODE,SALES_STAFF_FIRST_NAME,SALES_STAFF_LAST_NAME,SALES_STAFF_POSITION_EN,SALES_STAFF_WORK_PHONE,SALES_STAFF_EXTENSION,SALES_STAFF_FAX,SALES_STAFF_EMAIL,SALES_STAFF_DATE_HIRED,SALES_STAFF_SALES_BRANCH_CODE,...,SALES_BRANCH_ADDRESS1,SALES_BRANCH_ADDRESS2,SALES_BRANCH_CITY,SALES_BRANCH_REGION,SALES_BRANCH_POSTAL_ZONE,SALES_BRANCH_COUNTRY_CODE,COUNTRY_COUNTRY_CODE,COUNTRY_COUNTRY,COUNTRY_LANGUAGE,COUNTRY_CURRENCY_NAME
0,100,Tuomas,Savolainen,Level 2 Sales Representative,+358(0)17 - 433 127,825,+358(0)17 - 433 129,TSavolainen@grtd123.com,23-Jul-1998 12:00:00 AM,31,...,Kauppakatu 33,None,Kuopio,None,FIN-73100,22,22,Finland,EN,markka
1,101,Chang-ho,Kim,Level 2 Sales Representative,82-2-778-6587,1228,82-2-778-6586,CKim@grtd123.com,15-Dec-1998 12:00:00 AM,32,...,"234-12, Kongdeok-Dong",Mapo-Ku,Seoul,None,121-020,13,13,Korea,EN,won
2,102,Jung-ho,Choi,Level 3 Sales Representative,82-2-778-6587,2641,82-2-778-6586,JChoi@grtd123.com,27-Nov-1998 12:00:00 AM,32,...,"234-12, Kongdeok-Dong",Mapo-Ku,Seoul,None,121-020,13,13,Korea,EN,won
3,103,Kwei-Ping,Kao,Level 2 Sales Representative,886-2-2975-1988,1541,886-2-2989-4978,KKwao@grtd123.com,07-Oct-1998 12:00:00 AM,33,...,"154, Choung-Cheng South Road",None,San Chung,Taipei,241,12,12,Taiwan,EN,new dollar
4,104,Chin-Tsai,Fang,Level 3 Sales Representative,886-2-2975-1988,2311,886-2-2989-4978,CFon@grtd123.com,08-May-1996 12:00:00 AM,33,...,"154, Choung-Cheng South Road",None,San Chung,Taipei,241,12,12,Taiwan,EN,new dollar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,95,Tomás,Iglesias,Level 2 Sales Representative,+35 94 322 3540,325,+35 91 548 1637,TIglesias@grtd123.com,19-Feb-1998 12:00:00 AM,29,...,"Plaza de la Constitución, s/n",None,Bilbao,Vizcaya,48223,19,19,Spain,EN,pesetas
98,96,Bayard,Lopes,Branch Manager,+55 (11) 344-4444,3490,+55 (11) 333-2223,BLopes@grtd123.com,12-Aug-1997 12:00:00 AM,30,...,"Avenida Paulista, 333",CJ 231 2o. Andar,São Paulo,SP,01403-090,21,21,Brazil,EN,reals
99,97,Viviam,Barros,Level 3 Sales Representative,+55 (11) 344-4444,3364,+55 (11) 333-2223,VBarros@grtd123.com,10-Feb-2001 12:00:00 AM,30,...,"Avenida Paulista, 333",CJ 231 2o. Andar,São Paulo,SP,01403-090,21,21,Brazil,EN,reals
100,98,Eduardo,Guimarães,Level 2 Sales Representative,+55 (11) 344-4444,1442,+55 (11) 333-2223,EGuimaraes@grtd123.com,14-Feb-1999 12:00:00 AM,30,...,"Avenida Paulista, 333",CJ 231 2o. Andar,São Paulo,SP,01403-090,21,21,Brazil,EN,reals
101,99,Helena,Lindholm,Level 3 Sales Representative,+358(0)17 - 433 127,489,+358(0)17 - 433 129,HLindholm@grtd123.com,17-Aug-1997 12:00:00 AM,31,...,Kauppakatu 33,None,Kuopio,None,FIN-73100,22,22,Finland,EN,markka

In [10]:
#juiste variabelen pakken
df = sales_staff.groupby('SALES_BRANCH_SALES_BRANCH_CODE').agg({
    'SALES_STAFF_SALES_STAFF_CODE': 'count',
    'SALES_BRANCH_REGION': 'first',
    'SALES_BRANCH_POSTAL_ZONE': 'first',
    'COUNTRY_COUNTRY': 'first',
    'COUNTRY_CURRENCY_NAME': 'first'
    }).reset_index()
df

,SALES_BRANCH_SALES_BRANCH_CODE,SALES_STAFF_SALES_STAFF_CODE,SALES_BRANCH_REGION,SALES_BRANCH_POSTAL_ZONE,COUNTRY_COUNTRY,COUNTRY_CURRENCY_NAME
0,13,4,None,D-22529,Germany,marks
1,14,3,None,D-81241,Germany,marks
2,15,4,None,S-164 40,Sweden,krona
3,17,5,Alberta,T2P 3Z0,Canada,dollars
4,18,5,Ontario,M2M 4K8,Canada,dollars
5,19,6,Massachusetts,02133,United States,dollars
6,20,5,Washington,98139,United States,dollars
7,21,6,California,90072,United States,dollars
8,22,5,Florida,33024,United States,dollars
9,23,4,None,F-69002,France,francs
10,24,3,México,01219,Mexico,pesos
11,25,2,Tokyo,681-3187,Japan,yen
12,26,2,Osaka,616-5698,Japan,yen
13,28,5,VIC,2088,Australia,dollars
14,29,2,Vizcaya,48223,Spain,pesetas
15,30,3,SP,01403-090,Brazil,reals
16,31,2,None,FIN-73100,Finland,markka
17,32,2,None,121-020,Korea,won
18,33,2,Taipei,241,Taiwan,new dollar
19,34,2,None,200040,China,renminbi
20,35,4,None,N17 7LX,United Kingdom,pounds
21,36,5,West Midlands,B43 7NP,United Kingdom,pounds
22,37,3,None,CH-8057,Switzerland,francs
23,38,4,None,B-3001,Belgium,francs
24,39,2,None,A-1210,Austria,schillings
25,6,4,None,F-75008,France,francs
26,7,3,None,I-20121,Italy,lira
27,9,5,Noord-Holland,1233 BW,Netherlands,guilders

In [11]:
#dummies maken
df_dummies = pd.get_dummies(df, columns=['COUNTRY_COUNTRY', 'COUNTRY_CURRENCY_NAME', 'SALES_BRANCH_REGION', 'SALES_BRANCH_POSTAL_ZONE'])
df_dummies

,SALES_BRANCH_SALES_BRANCH_CODE,SALES_STAFF_SALES_STAFF_CODE,COUNTRY_COUNTRY_Australia,COUNTRY_COUNTRY_Austria,COUNTRY_COUNTRY_Belgium,COUNTRY_COUNTRY_Brazil,COUNTRY_COUNTRY_Canada,COUNTRY_COUNTRY_China,COUNTRY_COUNTRY_Finland,COUNTRY_COUNTRY_France,...,SALES_BRANCH_POSTAL_ZONE_D-22529,SALES_BRANCH_POSTAL_ZONE_D-81241,SALES_BRANCH_POSTAL_ZONE_F-69002,SALES_BRANCH_POSTAL_ZONE_F-75008,SALES_BRANCH_POSTAL_ZONE_FIN-73100,SALES_BRANCH_POSTAL_ZONE_I-20121,SALES_BRANCH_POSTAL_ZONE_M2M 4K8,SALES_BRANCH_POSTAL_ZONE_N17 7LX,SALES_BRANCH_POSTAL_ZONE_S-164 40,SALES_BRANCH_POSTAL_ZONE_T2P 3Z0
0,13,4,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
1,14,3,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,15,4,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,17,5,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,18,5,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
5,19,6,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,20,5,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,21,6,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,22,5,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,23,4,False,False,False,False,False,False,False,True,...,False,False,True,False,False,False,False,False,False,False
10,24,3,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,25,2,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,26,2,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,28,5,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,29,2,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,30,3,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,31,2,False,False,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,False
17,32,2,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,33,2,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,34,2,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
20,35,4,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
21,36,5,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,37,3,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,38,4,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,39,2,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,6,4,False,False,False,False,False,False,False,True,...,False,False,False,True,False,False,False,False,False,False
26,7,3,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
27,9,5,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
#dummies concatenaten
df = pd.concat([df, df_dummies], axis=1)
df

,SALES_BRANCH_SALES_BRANCH_CODE,SALES_STAFF_SALES_STAFF_CODE,SALES_BRANCH_REGION,SALES_BRANCH_POSTAL_ZONE,COUNTRY_COUNTRY,COUNTRY_CURRENCY_NAME,SALES_BRANCH_SALES_BRANCH_CODE,SALES_STAFF_SALES_STAFF_CODE,COUNTRY_COUNTRY_Australia,COUNTRY_COUNTRY_Austria,...,SALES_BRANCH_POSTAL_ZONE_D-22529,SALES_BRANCH_POSTAL_ZONE_D-81241,SALES_BRANCH_POSTAL_ZONE_F-69002,SALES_BRANCH_POSTAL_ZONE_F-75008,SALES_BRANCH_POSTAL_ZONE_FIN-73100,SALES_BRANCH_POSTAL_ZONE_I-20121,SALES_BRANCH_POSTAL_ZONE_M2M 4K8,SALES_BRANCH_POSTAL_ZONE_N17 7LX,SALES_BRANCH_POSTAL_ZONE_S-164 40,SALES_BRANCH_POSTAL_ZONE_T2P 3Z0
0,13,4,None,D-22529,Germany,marks,13,4,False,False,...,True,False,False,False,False,False,False,False,False,False
1,14,3,None,D-81241,Germany,marks,14,3,False,False,...,False,True,False,False,False,False,False,False,False,False
2,15,4,None,S-164 40,Sweden,krona,15,4,False,False,...,False,False,False,False,False,False,False,False,True,False
3,17,5,Alberta,T2P 3Z0,Canada,dollars,17,5,False,False,...,False,False,False,False,False,False,False,False,False,True
4,18,5,Ontario,M2M 4K8,Canada,dollars,18,5,False,False,...,False,False,False,False,False,False,True,False,False,False
5,19,6,Massachusetts,02133,United States,dollars,19,6,False,False,...,False,False,False,False,False,False,False,False,False,False
6,20,5,Washington,98139,United States,dollars,20,5,False,False,...,False,False,False,False,False,False,False,False,False,False
7,21,6,California,90072,United States,dollars,21,6,False,False,...,False,False,False,False,False,False,False,False,False,False
8,22,5,Florida,33024,United States,dollars,22,5,False,False,...,False,False,False,False,False,False,False,False,False,False
9,23,4,None,F-69002,France,francs,23,4,False,False,...,False,False,True,False,False,False,False,False,False,False
10,24,3,México,01219,Mexico,pesos,24,3,False,False,...,False,False,False,False,False,False,False,False,False,False
11,25,2,Tokyo,681-3187,Japan,yen,25,2,False,False,...,False,False,False,False,False,False,False,False,False,False
12,26,2,Osaka,616-5698,Japan,yen,26,2,False,False,...,False,False,False,False,False,False,False,False,False,False
13,28,5,VIC,2088,Australia,dollars,28,5,True,False,...,False,False,False,False,False,False,False,False,False,False
14,29,2,Vizcaya,48223,Spain,pesetas,29,2,False,False,...,False,False,False,False,False,False,False,False,False,False
15,30,3,SP,01403-090,Brazil,reals,30,3,False,False,...,False,False,False,False,False,False,False,False,False,False
16,31,2,None,FIN-73100,Finland,markka,31,2,False,False,...,False,False,False,False,True,False,False,False,False,False
17,32,2,None,121-020,Korea,won,32,2,False,False,...,False,False,False,False,False,False,False,False,False,False
18,33,2,Taipei,241,Taiwan,new dollar,33,2,False,False,...,False,False,False,False,False,False,False,False,False,False
19,34,2,None,200040,China,renminbi,34,2,False,False,...,False,False,False,False,False,False,False,False,False,False
20,35,4,None,N17 7LX,United Kingdom,pounds,35,4,False,False,...,False,False,False,False,False,False,False,True,False,False
21,36,5,West Midlands,B43 7NP,United Kingdom,pounds,36,5,False,False,...,False,False,False,False,False,False,False,False,False,False
22,37,3,None,CH-8057,Switzerland,francs,37,3,False,False,...,False,False,False,False,False,False,False,False,False,False
23,38,4,None,B-3001,Belgium,francs,38,4,False,False,...,False,False,False,False,False,False,False,False,False,False
24,39,2,None,A-1210,Austria,schillings,39,2,False,True,...,False,False,False,False,False,False,False,False,False,False
25,6,4,None,F-75008,France,francs,6,4,False,False,...,False,False,False,True,False,False,False,False,False,False
26,7,3,None,I-20121,Italy,lira,7,3,False,False,...,False,False,False,False,False,True,False,False,False,False
27,9,5,Noord-Holland,1233 BW,Netherlands,guilders,9,5,False,False,...,False,False,False,False,False,False,False,False,False,False

In [13]:
#drop de oude kolommen
df = df.drop(columns=['COUNTRY_COUNTRY', 'COUNTRY_CURRENCY_NAME', 'SALES_BRANCH_REGION', 'SALES_BRANCH_POSTAL_ZONE'])
df

,SALES_BRANCH_SALES_BRANCH_CODE,SALES_STAFF_SALES_STAFF_CODE,SALES_BRANCH_SALES_BRANCH_CODE,SALES_STAFF_SALES_STAFF_CODE,COUNTRY_COUNTRY_Australia,COUNTRY_COUNTRY_Austria,COUNTRY_COUNTRY_Belgium,COUNTRY_COUNTRY_Brazil,COUNTRY_COUNTRY_Canada,COUNTRY_COUNTRY_China,...,SALES_BRANCH_POSTAL_ZONE_D-22529,SALES_BRANCH_POSTAL_ZONE_D-81241,SALES_BRANCH_POSTAL_ZONE_F-69002,SALES_BRANCH_POSTAL_ZONE_F-75008,SALES_BRANCH_POSTAL_ZONE_FIN-73100,SALES_BRANCH_POSTAL_ZONE_I-20121,SALES_BRANCH_POSTAL_ZONE_M2M 4K8,SALES_BRANCH_POSTAL_ZONE_N17 7LX,SALES_BRANCH_POSTAL_ZONE_S-164 40,SALES_BRANCH_POSTAL_ZONE_T2P 3Z0
0,13,4,13,4,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
1,14,3,14,3,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,15,4,15,4,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,17,5,17,5,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
4,18,5,18,5,False,False,False,False,True,False,...,False,False,False,False,False,False,True,False,False,False
5,19,6,19,6,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,20,5,20,5,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,21,6,21,6,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,22,5,22,5,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,23,4,23,4,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
10,24,3,24,3,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,25,2,25,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,26,2,26,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,28,5,28,5,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,29,2,29,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,30,3,30,3,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16,31,2,31,2,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
17,32,2,32,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,33,2,33,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,34,2,34,2,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
20,35,4,35,4,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
21,36,5,36,5,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,37,3,37,3,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,38,4,38,4,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,39,2,39,2,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,6,4,6,4,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
26,7,3,7,3,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
27,9,5,9,5,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# Model Trainen

In [14]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [15]:
#traint model
def createcluster(df, n_clusters):
    kmeans = KMeans(n_clusters=n_clusters, random_state=42)
    return kmeans.fit_predict(df)

In [16]:
#kiest de beste cluster
def calculatemetrics(df, kmeans):
    return silhouette_score(df, kmeans)

def optimiseclusters(df, exit_condition):

    #exit condition is the number of times the score stays the same before the function exits
    if exit_condition < 1:
        raise ValueError("exit_condition must be greater than 0")
    elif exit_condition > 20:
        raise ValueError("exit_condition must be less than 20")

    n_clusters = 2
    best_score = -1
    best_kmeans = None #is this an issue?
    successive_failures = 0

    while successive_failures <= exit_condition:
        kmeans = createcluster(df, n_clusters)
        score = calculatemetrics(df, kmeans)
        if score > best_score:
            best_score = score
            best_kmeans = kmeans
            successive_failures = 0
        else:
            successive_failures += 1
        n_clusters += 1

    return dict(n_clusters=n_clusters, score=best_score, kmeans=best_kmeans)

In [17]:
#clusteren
result = optimiseclusters(df, 5)
result

{'n_clusters': 9,
 'score': 0.5516984964778121,
 'kmeans': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 1, 1])}